<section class="access-denied-section py-4">
    <div class="container">
        <div class="row align-items-center justify-content-center pt-4">
            <div class="col-md-12 text-center">
                <div class="access_denied_im">
                    <img src="../../assets/image/403-access-denied.png" alt="403 access denied">
                </div>
            </div>
            <div class="col-md-12">
                <div class="access-denied-content pt-5">
                    <h4>Access Denied</h4>
                    <p>You don't have permission to access this page.</p>
                    <div class="pt-4 align-items-center justify-content-center">
                        <div class="block_btn">
                            <button (click)="goToLogin()" class="btn btn-prime mb-0">Login</button>
                            <button (click)="goToContactUs()" class="btn btn-main mb-0">Contact Us</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
