<div class="block_call_main d-none">
  <div class="block_msg d-none">
    <div class="block_nomsg">Calls Initially Empty</div>
  </div>
  <div class="block_call_list">
    <div class="block_active_call">
      <div class="block_call_left">
        <div class="block_call_icon">
          <img src="/assets/image/icon/ic_live_call.svg" alt="Info" />
        </div>
        <div class="block_call_im">
          <img src="https://randomuser.me/api/portraits/women/44.jpg" alt="" />
        </div>
        <div class="block_call_detail">
          <h6>Jully Sareena</h6>
          <p>Freelance Worker for billions</p>
          <span>San Diago, USA</span>
        </div>
      </div>
      <div class="block_call_right">
        <div class="block_call_time">02:45</div>
        <div class="block_call_info">
          <img src="/assets/image/icon/ic_tooltip.svg" alt="Info" />
        </div>
      </div>
    </div>
    <div class="block_recent_call">
      <h5>Recent</h5>
      <ul>
        <li>
          <div class="block_call_left">
            <div class="block_call_icon">
              <img src="/assets/image/icon/ic_called.svg" alt="Info" />
            </div>
            <div class="block_call_im">
              <img src="https://randomuser.me/api/portraits/women/44.jpg" alt="" />
            </div>
            <div class="block_call_detail">
              <h6>Kareena Smith</h6>
              <p>Remote marketer at BounceMK</p>
              <span>California, USA</span>
            </div>
          </div>
          <div class="block_call_right">
            <div class="block_call_time">03:24</div>
            <div class="block_call_info">
              <img src="/assets/image/icon/ic_tooltip.svg" alt="Info" />
            </div>
          </div>
        </li>
        <li>
          <div class="block_call_left">
            <div class="block_call_icon">
              <img src="/assets/image/icon/ic_missed_call.svg" alt="Info" />
            </div>
            <div class="block_call_im">
              <img src="https://randomuser.me/api/portraits/women/44.jpg" alt="" />
            </div>
            <div class="block_call_detail">
              <h6>jordyn Donin</h6>
              <p>Always believe in yourself Never...</p>
              <span>California, USA</span>
            </div>
          </div>
          <div class="block_call_right">
            <div class="block_call_time">13:56</div>
            <div class="block_call_info">
              <img src="/assets/image/icon/ic_tooltip.svg" alt="Info" />
            </div>
          </div>
        </li>
        <li>
          <div class="block_call_left">
            <div class="block_call_icon">
              <img src="/assets/image/icon/ic_call_recieved.svg" alt="Info" />
            </div>
            <div class="block_call_im">
              <img src="https://randomuser.me/api/portraits/women/44.jpg" alt="" />
            </div>
            <div class="block_call_detail">
              <h6>Kareena Smith</h6>
              <p>Pharmacist, dog lover, dreamer.</p>
              <span>California, USA</span>
            </div>
          </div>
          <div class="block_call_right">
            <div class="block_call_time">01:10:24</div>
            <div class="block_call_info">
              <img src="/assets/image/icon/ic_tooltip.svg" alt="Info" />
            </div>
          </div>
        </li>
        <li>
          <div class="block_call_left">
            <div class="block_call_icon">
              <img src="/assets/image/icon/ic_called.svg" alt="Info" />
            </div>
            <div class="block_call_im">
              <img src="https://randomuser.me/api/portraits/women/44.jpg" alt="" />
            </div>
            <div class="block_call_detail">
              <h6>Kareena Smith</h6>
              <p>Remote marketer at BounceMK</p>
              <span>California, USA</span>
            </div>
          </div>
          <div class="block_call_right">
            <div class="block_call_time">03:24</div>
            <div class="block_call_info">
              <img src="/assets/image/icon/ic_tooltip.svg" alt="Info" />
            </div>
          </div>
        </li>
        <li>
          <div class="block_call_left">
            <div class="block_call_icon">
              <img src="/assets/image/icon/ic_missed_call.svg" alt="Info" />
            </div>
            <div class="block_call_im">
              <img src="https://randomuser.me/api/portraits/women/44.jpg" alt="" />
            </div>
            <div class="block_call_detail">
              <h6>jordyn Donin</h6>
              <p>Always believe in yourself Never...</p>
              <span>California, USA</span>
            </div>
          </div>
          <div class="block_call_right">
            <div class="block_call_time">13:56</div>
            <div class="block_call_info">
              <img src="/assets/image/icon/ic_tooltip.svg" alt="Info" />
            </div>
          </div>
        </li>
        <li>
          <div class="block_call_left">
            <div class="block_call_icon">
              <img src="/assets/image/icon/ic_call_recieved.svg" alt="Info" />
            </div>
            <div class="block_call_im">
              <img src="https://randomuser.me/api/portraits/women/44.jpg" alt="" />
            </div>
            <div class="block_call_detail">
              <h6>Kareena Smith</h6>
              <p>Pharmacist, dog lover, dreamer.</p>
              <span>California, USA</span>
            </div>
          </div>
          <div class="block_call_right">
            <div class="block_call_time">01:10:24</div>
            <div class="block_call_info">
              <img src="/assets/image/icon/ic_tooltip.svg" alt="Info" />
            </div>
          </div>
        </li>
      </ul>
    </div>
  </div>
</div>

<!-- Incoming call code  -->

<div class="block_calling_main" *ngIf="is_incoming_call" [ngClass]="{active:agoraStreamHandler.isFullScreenActive}">
  <h5>Incoming {{ callType == 1 ? 'Audio' : 'Video' }} Call</h5>
  <div class="block_calling" *ngIf="!caller_loading">
    <div class="block_calling_top">
      <div class="block_caller_info">
        <div class="block_calling_avatar">
          <img *ngIf="caller_info.profilePicture" [src]="caller_info.profilePicture" alt="profile pic" />
          <span *ngIf="!caller_info.profilePicture">{{
            caller_info.displayName | firstLetter
            }}</span>
          <div class="block_calling_status">
            <span class="online"></span>
          </div>
        </div>
        <div class="block_calling_cnt">
          <h6>{{ caller_info?.displayName }}</h6>
          <p>{{ caller_info?.title }}</p>
          <span>{{ caller_info?.city }}, {{ caller_info?.country?.name }}</span>
        </div>
      </div>
      <div class="block_calling_mid" [ngClass]="{active:agoraStreamHandler.isFullScreenActive}">
        <label for="">Bio</label>
        <p>{{ caller_info?.biography }}</p>
      </div>
    </div>

    <div class="block_calling_btm">
      <div class="calling_btm_left">
        <span>{{ timer }}</span>
      </div>
      <div class="calling_btm_right">
        <ul>
          <li>
            <a class="link_cusor" (click) = "openMessenger()" *ngIf="!callButtonLoader && !agoraStreamHandler.isFullScreenActive">
              <img src="/assets/image/icon/ic_message.svg" alt="Message" />
            </a>
            <img *ngIf="callButtonLoader" style="height: 20px; width: 20px; margin-left: 5px; margin-top: 5px"
            src="/assets/image/button_loader.svg" alt="Loader" />
          </li>
          <li>
            <a class="link_cusor" (click)="handleDeclineSideCall()" *ngIf="!callButtonLoader">
              <img src="/assets/image/icon/ic_call_cut.svg" alt="Cut" />
            </a>
            <img *ngIf="callButtonLoader" style="height: 20px; width: 20px; margin-left: 5px; margin-top: 5px"
              src="/assets/image/button_loader.svg" alt="Loader" />
          </li>
          <li>
            <a class="link_cusor" (click)="handleAcceptSideCall()" *ngIf="!callButtonLoader">
              <img src="/assets/image/icon/ic_call_accept.svg" alt="Accept" />
            </a>
            <img *ngIf="callButtonLoader" style="height: 20px; width: 20px; margin-left: 5px; margin-top: 5px"
              src="/assets/image/button_loader.svg" alt="Loader" />
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="block_loading" *ngIf="caller_loading" loadinga></div>
</div>