
<section class="block_error_page h-100">
    <div class="access-denied-section py-4">
        <div class="container">
            <div class="row align-items-center justify-content-center pt-4">
                <div class="col-md-12 text-center">
                    <div class="access-denied_im">
                        <img src="../../assets/image/error.png" alt="error">
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="access-denied-content pt-5">
                        <h4>ERROR</h4>
                        <p>Oops! something went wrong.</p>
                        <div class="row pt-4 align-items-center justify-content-center">
                            <div class="col-md-7 col-lg-5">
                                <button class="btn btn-prime w-100 mb-0" (click)="tryAgain()">try again</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
