<div class="block_incoming">
    <div class="block_head">
        <h5>Incoming Call</h5>
        <ul>
            <li>
                <a class="link_cusor">
                    <img src="/assets/image/icon/ic_call_cut.svg" alt="Cut">
                </a>
            </li>
            <li>
                <a class="link_cusor">
                    <img src="/assets/image/icon/ic_call_accept.svg" alt="Accept">
                </a>
            </li>
        </ul>
    </div>
    
    <div class="block_calling">
        <div class="block_calling_top">
            <div class="block_calling_avatar">
                <img src="https://randomuser.me/api/portraits/women/44.jpg" alt="">
                <div class="block_calling_status">
                    <span class="online"></span>
                </div>
            </div>
            <div class="block_calling_cnt">
                <h6>Nellson Labrada</h6>
                <p>Creative Entrepreneur & Designer</p>
                <span>San Diago, USA</span>
            </div>
        </div>
        <div class="calling_btm_left">
            <span>8</span>
        </div>
    </div>
</div>
