<div class="main-section" *ngIf="!page_loader">
    <div class="description profile">
        <div class="b-title">
            <h4>Edit Profile</h4>
        </div>
        <div class="d-content">
            <div class="avatar-upload">
                <div class="avatar-edit invisible avtar_top">
                    <input type="file" id="imageUpload" accept=".png, .jpg, .jpeg, .jfif">
                    <label for="imageUpload"></label>
                </div>
                <div class="avatar-preview link_cusor" (click)="openProfileImgModal()">
                    <img class="profile-user-img img-responsive img-circle" id="imagePreview" [src]="imagePro" *ngIf="imagePro" alt="User profile picture">
                    
                    <img *ngIf="!imagePro" class="profile-user-img img-responsive img-circle" id="imagePreview" src="../../../assets/image/user.svg" alt="User profile picture">
                </div>
            </div>
            <form [formGroup]="profileFG">
                <div class="row">
                    <div class="col-md-6">
                        <app-control-container label="Full Name" isRequired="true">
                            <input formControlName="fullName" class="input-field" placeholder="Enter Your Full Name"
                                type="text" tabindex="2" maxlength="100">
                        </app-control-container>
                    </div>
                    <div class="col-md-6">
                        <app-control-container label="Display Name" isRequired="true">
                            <input formControlName="displayName" class="input-field"
                                placeholder="Enter Your Display Name" type="text" tabindex="2" maxlength="100">
                        </app-control-container>
                    </div>
                    <div class="col-md-6">
                        <app-control-container label="Country">
                            <ng-select class="custom_selectbox" [selectOnTab]="true" [items]="countries"
                                [clearable]="false" bindLabel="countries_name" bindValue="countries_country_id"
                                placeholder="Select Country" [(ngModel)]="selectedCountry" formControlName="country">
                            </ng-select>
                        </app-control-container>
                    </div>
                    <!--<div class="col-md-6">
                        <app-control-container label="Zip Code" isRequired="true">
                          <ng-select class="custom_selectbox"
                           [loading]="loading_zipcode"
                           [selectOnTab]="true" 
                           [items]="zipcodes"
                           [clearable]="false"
                           [minTermLength]="3"
                           notFoundText=""
                           bindLabel="zipcodeLabel"
                           bindValue="zipcode"
                           placeholder="Select ZipCode"
                           formControlName="zipCode"
                           [(ngModel)]="selectedZip"
                           (search)="onChangeSearch($event)"
                           (change)="selectEvent($event)"
                           >
                         </ng-select>
                         <input formControlName="zipCode" class="input-field" placeholder="Zip Code" type="text" tabindex="2"> 
                        </app-control-container>
                    </div>-->
                    <div class="col-md-6">
                        <app-control-container label="City">
                            <input formControlName="city" class="input-field" placeholder="City" type="text"
                                tabindex="2" maxlength="100">
                        </app-control-container>
                    </div>
                    <div class="col-12">
                        <app-control-container label="About">
                            <textarea formControlName="biography" class="form-control" id="exampleFormControlTextarea1"
                                rows="5"></textarea>
                        </app-control-container>
                    </div>
                </div>
                <div class="row">
                    <div class="col-6">
                        <button type="button" class="btn btn-main w-100 mt-4" (click)="cancel()">Cancel</button>
                    </div>
                    <div class="col-6">
                        <button type="submit" class="btn btn-prime w-100 mt-4"
                            (click)="submitProfileForm(profileFG.valid, profileFG.value)" [disabled]="loading">Save
                            <img *ngIf="loading" style="height:20px;width:20px; margin-left: 3px;"
                                src="/assets/image/button_loader.svg" alt="Loader">
                        </button>
                    </div>
                </div>
            </form>
        </div>

    </div>
</div>

<div class="center" *ngIf="page_loader" loadinga></div>