@import "../../styles/scss/_variable.scss";

.e-menu-section {
  height: 100%;
  width: 100%;
  display: flex;
  background: color(secondary-color);

  .event_sidebar {
    width: calc(100% - 68px);
  }

  @include tab-view {
    height: 100vh;
  }
}

footer {
  line-height: 40px;
  padding: 0 15px;
  position: absolute;
  width: 100%;
  bottom: 5px;
}
