<div class="profile-section">
	<div class="p-title">
		<h4>Profile</h4>
	</div>
	<div class="p-content">
		<div class="avatar-upload">
			<div class="avatar-edit invisible avtar_top">
				<form action="" method="post" id="form-image" data-toggle="modal" data-target="#modalprofile-change">
					<input id="imageUpload" />
					<label></label>
				</form>
			</div>
			<div class="avatar-preview link_cusor" (click)="openProfileImgModal()">
				<img class="profile-user-img img-responsive img-circle" id="imagePreview" [src]="profilePicture" *ngIf="profilePicture" alt="User profile picture">
				
				<img *ngIf="!profilePicture" class="profile-user-img img-responsive img-circle" id="imagePreview" src="../../../assets/image/user.svg" alt="User profile picture">
			</div>
		</div>
		<h6 class="p-user-name">
			{{user?.display_name ? user?.display_name : user?.full_name }}
		</h6>
		<div class="block_main" *ngIf="isTaglineEdit">
			<div class="input-group mt-3 block_emoji">

				<app-tagline-input class="block_tagline" [(ngModel)]="tagline"></app-tagline-input>

				<div class="block_edit">
					<a class="link_cusor" (click)="saveTagline(tagline)"><img *ngIf="!loading"
							src="../../../assets/image/checkmark.svg" alt="edit icon">
						<img *ngIf="loading" style="height:20px;width:20px; margin-left: 3px;"
							src="/assets/image/button_loader.svg" alt="Loader">
					</a>
				</div>
			</div>
		</div>
		<div class="block_edit_view" *ngIf="!isTaglineEdit">
			<p>{{tagline}}</p>
			<img (click)="editTaglineToggale()" class="link_cusor" src="../../../assets/image/bxs-edit-alt-clr.svg"
				alt="edit icon">
		</div>
		<div class="profile-detail">
			<div class="row" *ngIf="user?.full_name">
				<div class="col-12 b-top">
					<span>Full Name</span>
					<p>{{user?.full_name}} </p>
				</div>
				<!--<div class="col-6 b-top b-right">
          <span>Zip Code</span>
          <p>{{user?.zip_code}}</p>
        </div>-->
				<div class="col-6 b-top b-right">
					<span>Country</span>
					<p>{{user?.country_name}}</p>
				</div>
				<div class="col-6 b-top">
					<span>City</span>
					<p>{{user?.city}}</p>
				</div>
				<div class="col-12 b-top">
					<span>About</span>
					<p>{{user?.biography}}</p>
				</div>
			</div>
		</div>
		<button type="button" class="btn btn-prime w-100 mt-5" (click)="redirectToProfile()">
			<img src="../../../assets/image/bxs-edit-alt.svg" alt="edit icon"> Edit Profile
		</button>
	</div>
</div>