@import "../../../../styles/scss/_variable.scss";
.info-tooltip {
  width: 540px;
  color: black;
  background-color: white;
  border: 1px solid black;
  padding: 5px;
  position: absolute;
  z-index: 1;
  top: 20px;
  left: 0;
  height: auto;
  display: block;
  flex-direction: column;
  justify-content: space-around;
  text-align: left;
  font-family: $font-Medium;
  font-size: 15px;

  > span {
    color: black !important;
    font-size: 15px !important;
  }
}
