@import "../../../../styles/scss/_variable.scss";
.block_emoji {
    height: 52px;
    background: color(input-color);
    border-radius: 6px;
    position: relative;
    z-index: 9;
    .input-group-text {
        background: none;
        border: none;
    }
    input {
        height: 100%;
        background: color(input-color);
        border: none;
        outline: none;
        border-radius: 6px;
        font-size: 14px;
        color: color(white-text);
        &:focus {
            box-shadow: none;
        }
        &:placeholder {
            color: color(placeholder-text);
        }
    }
     ::ng-deep.emoji_dropdown {
        bottom: 100%;
        right: 0;
    }
}
